#rootPane {
    -fx-background-image: url("/com/example/carrental/pics/llg.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-color: linear-gradient(to bottom, #0f2027, #203a43, #2c5364); /* fallback */
}

.dashboard-btn {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-color: #1e3c72;
    -fx-text-fill: white;
    -fx-background-radius: 12;
}

.dashboard-btn:hover {
    -fx-background-color: #3a6073;
}

.admin-btn {
    -fx-border-color: gold;
    -fx-border-width: 2;
}

.logout-btn {
    -fx-background-color: #d9534f;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-background-radius: 10;
}

.logout-btn:hover {
    -fx-background-color: #c9302c;
}

.footer {
    -fx-text-fill: #ffffffcc;
}
